a {
   cursor: pointer;
}
.container {
   width: 800px !important;
}
.input-smaller {
   width: 30%;
}
.fb-profilepic {
   float:left;
   margin-right:10px;
}
.space-buffer {
   margin-bottom:20px;
}
.overflow-column {
   overflow-y: auto;
   overflow-x: hidden;
   height: 400px;
}
/* Turn off animation modal
 http://stackoverflow.com/questions/18873428/turn-off-animation-modal-angular-ui
 */
.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
   -webkit-transform: translate(0, 0);
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   transform: translate(0, 0);
}
