a {
   cursor: pointer;
}
.container {
   width: 800px !important;
}
.input-smaller {
   width: 30%;
}
.fb-profilepic {
   float:left;
   margin-right:10px;
}
.img-thumbnail {
  width: inherit; /*IE fix*/
}
.space-buffer {
   margin-bottom:20px;
}
.overflow-column {
   overflow-y: auto;
   overflow-x: hidden;
   max-height: 400px;
}
/* Turn off animation modal
 http://stackoverflow.com/questions/18873428/turn-off-animation-modal-angular-ui
 */
.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
   -webkit-transform: translate(0, 0);
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   transform: translate(0, 0);
}


.list-group-item.ng-enter, .list-group-item.ng-move {
   -webkit-transition:0.3s linear all;
   -moz-transition:0.3s linear all;
   -o-transition:0.3s linear all;
   transition:0.3s linear all;
   opacity:0;
}

/*
The ng-enter-active and ng-move-active
are where the transition destination properties
are set so that the animation knows what to
animate.
*/
.list-group-item.ng-enter.ng-enter-active,
.list-group-item.ng-move.ng-move-active {
   opacity:1;
}

/*
We're using CSS keyframe animations for when
the leave event is triggered for the element
that has the .list-group-item class
*/
.list-group-item.ng-leave {
   -webkit-animation:0.3s fadeout;
   -moz-animation:0.3s fadeout;
   -o-animation:0.3s fadeout;
   animation:0.3s fadeout;
}

@keyframes fadeout {
   from { opacity:1; }
   to { opacity:0; }
}

/*
Unfortunately each browser vendor requires
its own definition of keyframe animation code...
*/
@-webkit-keyframes fadeout {
   from { opacity:1; }
   to { opacity:0; }
}

@-moz-keyframes fadeout {
   from { opacity:1; }
   to { opacity:0; }
}

@-o-keyframes fadeout {
   from { opacity:1; }
   to { opacity:0; }
}
