<h2>Doneer hulpgoederen</h2>

<form role="form" name="createDonationForm" data-ng-submit="saveDonation()" novalidate>
  <div class="form-group" data-ng-class="{ 'has-error': createDonationForm.title.$invalid && submitted }">
   <label for="form-donation-title">Titel</label>
   <input required type="text" class="form-control" name="title" id="form-donation-title" data-ng-model="createDonation.title" placeholder="Met spoed is een tweepersoonsbed nodig.">
   <p class="help-block" data-ng-show="createDonationForm.title.$invalid && submitted">Vul een duidelijk hulpvraag in.</p>
  </div>
  <div class="form-group">
   <label for="form-donation-description">Beschrijving</label>
   <textarea class="form-control" id="form-donation-description" data-ng-model="createDonation.description" placeholder="Het liefst een bed wat te demonteren is. Eventueel met matras."></textarea>
  </div>
  <div class="form-group" data-ng-class="{ 'has-error': createDonationForm.category.$invalid && submitted }">
     <label for="form-donation-category">Categorie</label>
     <select required data-ng-model="createDonation.category" name="category" data-ng-options="category.name as category.name group by category.type for category in categories" class="form-control input-smaller" id="form-donation-category">
        <option value="">Kies een passende categorie</option>
     </select>
     <p class="help-block" data-ng-show="createDonationForm.category.$invalid && submitted">Selecteer een passende categorie.</p>
  </div>
  <strong>Bezorging</strong>

  <div class="radio">
     <label>
        <input type="radio" name="deliverPick" data-ng-model="createDonation.deliverPick" data-ng-value="createDonation.deliverPick" checked />
        Ik kan bezorgen.
    </label>
    </div>
   <div class="radio">
    <label>
      <input type="radio" name="deliverPick" data-ng-model="createDonation.deliverPick" data-ng-value="createDonation.deliverPick" />
      Ik heb hulp nodig met het vervoer.
  </label>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Facebook</h3>
    </div>
    <div class="panel-body">
       <p>Alleen je naam en een link naar je Facebook-profiel wordt opgeslagen, zodat de hulpactie contact met je kan opnemen.</p>
       <img class="img-thumbnail fb-profilepic" data-ng-src="{{createDonation.fb.profilepic}}" alt="" />
       <span>{{createDonation.fb.name}}</span>
       <p><a href="{{createDonation.fb.link}}">Link van je Facebook-profiel</a></p>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-ng-click="saveDonation()">Verstuur naar de hulpactie</button>
</form>
