<div class="row">
   <div class="col-md-12">
      <p class="lead text-center">Gebruik de sApplies Facebook-app om hulpgoederen en vrijwillige diensten aan te bieden voor de hulpactie.</p>

      <hr >

      <h3>Stap 1: Selecteer een hulpvraag</h3>

      <div class="row space-buffer">
         <div class="col-sm-6 col-sm-offset-3">
            <div class="btn-group">
               <label class="btn btn-primary" ng-model="bySuppliesServices" btn-radio="'Goederen'" uncheckable>Ik wil spullen doneren.</label>
               <label class="btn btn-primary" ng-model="bySuppliesServices" btn-radio="'Diensten'" uncheckable>Ik bied een dienst aan.</label>
            </div>
         </div>
      </div>

      <div class="panel panel-default">
         <div class="panel-heading"><h4>Laatste hulpvragen</h4></div>
         <div class="list-group overflow-column">
            <a data-ng-click="pickedNeed(need, $index)" data-ng-class="{active: $index == selectedNeed}" class="list-group-item" data-ng-repeat="need in needs | filter: bySuppliesServices">
               <h4 class="list-group-item-heading">
               <i class="fa fa-archive" data-ng-show="need.type == 'Goederen'"></i>
               <i class="fa fa-user-md" data-ng-show="need.type == 'Diensten'"></i>
               {{need.title}}</h4>
               <p>{{need.description}}</p>
               <p class="list-group-item-text">
                  <span class="label label-default">{{need.category}}</span>
               </p>
            </a>
            <p class="help-block text-center" data-ng-hide="needs.length"><strong>Deze hulpactie heeft nog specifieke hulpvragen.</strong></p>
         </div>
      </div>
   </div>
</div>
