
<wizard on-finish="finishedWizard()">
    <wz-step title="Hulpvragen">
        <h1>Hulpvragen</h1>
        <p>Here you can use whatever you want. You can use other directives, binding, etc.</p>
        <input type="submit" wz-next value="Continue" />
    </wz-step>
    <wz-step title="Doneren">
        <h1>Doneren</h1>
        <p>You have continued here!</p>
        <input type="submit" wz-next value="Go on" />
    </wz-step>
    <wz-step title="Bevestigen">
        <p>Bevestigen</p>
        <input type="submit" wz-next value="Finish now" />
    </wz-step>
</wizard>
