<div class="row">
   <div class="col-md-12">
      <h2>Facebook-pagina hulpacties</h2>

      <button type="button" class="btn btn-default" data-ng-click="login()" data-ng-hide="{{loggedIn}}">Login met Facebook</button>
      <table class="table" data-ng-show="{{loggedIn}}">
         <thead>
           <tr>
             <th>Facebook-pagina</th>
             <th>Koppelen aan sApplies</th>
           </tr>
         </thead>
         <tbody>
           <tr data-ng-repeat="page in pages">
             <td>{{page.name}}</td>
             <td><button type="button" class="btn btn-default" data-ng-click="connectAppToPage()">{{toggleText}}</button></td>
           </tr>
         </tbody>
      </table>
   </div>
</div>
