<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
         <div class="panel-heading"><h3 class="text-center">Login met Facebook</h3></div>
         <div class="panel-body">
            <p>Login met Facebook om:</p>
            <ul>
               <li>sApplies te gebruiken om jouw hulpactie op Facebook te ondersteunen</li>
               <li>sApplies is jouw eigen marktplaats om eenvoudig en onbeperkt je vraag voor hulp te plaatsen</li>
               <li>sApplies zorgt voor overzicht tussen jouw hulpvraag en het hulpaanbod van aanbieders op Facebook</li>
            </ul>
            <hr />
            <section data-ng-show="loggedIn && !connected">
               <p>Je bent al reeds ingelogd met Facebook en de hulpactie is gekoppeld met sApplies.</p><p><a href="#/overview">Ga verder</a>
               </p>
            </section>
            <button data-ng-hide="loggedIn" data-ng-click="loginWithFacebook()" type="button" class="btn btn-default fb-btn"><i class="fa fa-facebook fa-lg"></i> Login met Facebook</button>
            <section data-ng-hide="connected">
               <h2>Koppel sApplies aan de Facebook-pagina</h2>
               <p>De koppeling zorgt ervoor dat de sApplies Facebook-app in de navigatiebalk verschijnt van de Facebook-pagina, zodat hulpaanbieders hulpaanbieding kunnen insturen.
               </p>
               <p class="text-center">
                  <img class="img-thumbnail" src="./images/fb-nav-app.png" alt="" />
               </p>
               <table class="table" data-ng-show="loggedIn">
                  <thead>
                     <tr>
                        <th colspan="2">Jouw-pagina's</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr data-ng-repeat="page in pages">
                        <td><img data-ng-src="{{page.picture}}" alt="" /></td>
                        <td>{{page.name}}</td>
                        <td>
                           <button type="button" class="btn btn-default" data-ng-disabled="connected" data-ng-click="connectAppToPage()">{{connected && 'Reeds gekoppeld.' ||'Koppel'}}</button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </section>
         </div>
      </div>
   </div>
</div>
