<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <label for="form-filter">Filter</label>
      <input type="text" class="form-control" id="form-filter" data-ng-model="filter" placeholder="Filter..." />
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="form-category">Categorie</label>
      <select data-ng-model="filterCategory" data-ng-options="category.name as category.name for category in categories" class="form-control" id="form-category">
         <option value="">Filter op categorie</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="radio">
       <label>
          <input type="radio" name="filterMatched" id="optionsRadios1" value="option1" checked>
          Nog niet gekoppeld
       </label>
       <label>
          <input type="radio" name="filterMatched" id="optionsRadios2" value="option1">
          Gekoppeld
       </label>
</div>
  </div>
</div>
<div class="row">
   <div class="col-xs-12 col-md-6">
      <div class="well well-sm" data-animate-on-change="match.need.title">
         <p>{{match.need.title || '[Selecteer een hulpvraag]'}}</p>
      </div>
   </div>
   <div class="col-xs-12 col-md-6">
      <div class="well well-sm" data-animate-on-change="match.offer.title">
         <p>{{match.offer.title || '[Selecteer een hulpaanbod]'}}</p>
      </div>
   </div>
   <div class="col-xs-12">
      <button type="button" class="btn btn-default btn-lg" data-ng-click="confirmMatch()">
         <span class="glyphicon glyphicon-link"></span>
         Koppel
      </button>
   </div>
</div>

<section>
   <div class="row">
     <div class="col-xs-6">
        <h2>Hulpvraag</h2>
       <div class="list-group overflow-column">
         <a data-ng-click="selectNeed(need, $index)" ng-class="{active: $index == pickedNeed}" class="list-group-item" data-ng-repeat="need in needs | filter:filter | filter:filterCategory">
           <h4 class="list-group-item-heading">{{need.title}}</h4>
           <p class="list-group-item-text">{{need.description}}</p>
           <p class="list-group-item-text">
             <small>
                <em>{{need.category}}</em>
                <button type="button" class="btn btn-link" data-ng-click="deleteNeed($index, need);$event.stopPropagation()">
                   <span class="glyphicon glyphicon-remove"></span> Verwijder
               </button>
            </small>
            </p>
         </a>
       </div>
     </div>

     <div class="col-xs-6">
        <h2>Hulpaanbod</h2>
       <div class="list-group overflow-column">
         <a data-ng-click="selectOffer(offer, $index)" ng-class="{active: $index == pickedOffer}" class="list-group-item" data-ng-repeat="offer in offers | filter: filter | filter:filterCategory | filter:suggestions">
           <h4 class="list-group-item-heading">{{offer.title}}</h4>
           <p class="list-group-item-text">{{offer.description}}</p>
           <p class="list-group-item-text">
             <small>
                <em>{{offer.category}}</em>
                 <button type="button" class="btn btn-link" data-ng-click="deleteOffer($index, offer);$event.stopPropagation()">
                   <span class="glyphicon glyphicon-remove"></span> Verwijder
                </button>
                <button type="button" class="btn btn-link" data-ng-click="showDetailOffer(offer._id);$event.stopPropagation()">
                 <span class="glyphicon glyphicon-cog"></span> Meer
              </button>
             </small>
           </p>
         </a>
       </div>
     </div>
   </div>
</section>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
      <h3 class="modal-title">Im a modal!</h3>
  </div>
  <div class="modal-body">
      <ul>
          <li ng-repeat="item in items">
              <a ng-click="selected.item = item">{{ item }}</a>
          </li>
      </ul>
      Selected: <b>{{ selected.item }}</b>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
