<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <label for="form-filter">Filter</label>
      <input type="text" class="form-control" id="form-filter" data-ng-model="filter" placeholder="Filter..." />
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="form-category">Categorie</label>
      <select data-ng-model="filterCategory" data-ng-options="category.name as category.name for category in categories" class="form-control" id="form-category">
         <option value="">Filter op categorie</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12 col-md-6">
                  <div class="well">
                     <p class="lead">{{match.need.title || '[Hulpvraag]'}}</p>
                  </div>
               </div>
               <div class="col-xs-12 col-md-6">
                  <div class="well">
                     <p class="lead">{{match.offer.title || '[Hulpaanbod]'}}</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<section>
   <div class="row">
     <div class="col-xs-6">
        <h2>Hulpvraag</h2>
       <div class="list-group overflow-column">
         <a data-ng-click="selectNeed(need, $index)" ng-class="{active: $index == pickedNeed}" class="list-group-item" data-ng-repeat="need in needs | filter:filter | filter:filterCategory">
           <h4 class="list-group-item-heading">{{need.title}}</h4>
           <p class="list-group-item-text">{{need.description}}</p>
           <p class="list-group-item-text">
             <small>
                <em>{{need.category}}</em>
                <button type="button" class="btn btn-link" data-ng-click="deleteNeed($index, need);$event.stopPropagation()">
                   <span class="glyphicon glyphicon-remove"></span> Verwijder
               </button>
            </small>
            </p>
         </a>
       </div>
     </div>
     <div class="col-xs-6">
        <h2>Hulpaanbod</h2>
       <div class="list-group overflow-column">
         <a data-ng-click="selectOffer(offer, $index)" ng-class="{active: $index == pickedOffer}" class="list-group-item" data-ng-repeat="offer in offers | filter: filter | filter:filterCategory | filter:suggestions">
           <h4 class="list-group-item-heading">{{offer.title}}</h4>
           <p class="list-group-item-text">{{offer.description}}</p>
           <p class="list-group-item-text">
             <small>
                <em>{{offer.category}}</em>
                 <button type="button" class="btn btn-link" data-ng-click="deleteOffer($index, offer);$event.stopPropagation()">
                   <span class="glyphicon glyphicon-remove"></span> Verwijder
                </button>
                <button type="button" class="btn btn-link" data-ng-click="showDetailOffer(offer._id);$event.stopPropagation()">
                 <span class="glyphicon glyphicon-cog"></span> Meer
              </button>
             </small>
           </p>
         </a>
       </div>
     </div>
   </div>
</section>
