<div class="row">
   <div class="col-md-10 col-md-offset-1">
      <h2>Gekoppelde hulpvraag en aanbod</h2>

      <div class="panel panel-default" data-ng-repeat="match in matches">
         <div class="panel-heading">
            <h3>
               <i class="fa fa-archive" data-ng-show="match.need.type == 'Goederen'"></i>
               <i class="fa fa-user-md" data-ng-show="match.need.type == 'Diensten'"></i>
               {{match.need.title}}</h3>
               <p>{{match.need.description}}</p>
               <p><span class="label label-default">{{match.need.category}}</span></p>
         </div>
         <div class="panel-body">
            <accordion close-others="true">
               <accordion-group ng-repeat="offer in match.offers">
                  <accordion-heading>
                     {{offer.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                  </accordion-heading>
                  <div class="col-md-6">
                     <h4><i class="fa fa-archive" data-ng-show="offer.type == 'Goederen'"></i>
                     <i class="fa fa-user-md" data-ng-show="offer.type == 'Diensten'"></i> {{offer.title}}</h4>
                     <p>{{offer.description}}</p>
                  </div>
                  <div class="col-md-6">
                     <div class="panel panel-default">
                        <div class="panel-body">
                           <h4><i class="fa fa-facebook-square"></i> Hulpaanbieder</h4>
                           <img class="img-thumbnail fb-profilepic" data-ng-src="{{offer.fb.picture}}" alt="" />
                           {{offer.fb.name}}
                           <p><a href="{{offer.fb.link}}" target="_blank">Contacteer hulpaanbieder</a></p>
                        </div>
                     </div>
                  </div>
               </accordion-group>
            </accordion>
         </div>
      </div>
      <p class="help-block" data-ng-hide="matches.length">Geen gekoppelde hulpvraag en aanbod gevonden.</p>
   </div>
</div>
