<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <h2>Voeg een hulpvraag toe</h2>

      <form role="form" name="createNeedForm" data-ng-submit="saveNeed()" novalidate>

         <div class="form-group" data-ng-class="{ 'has-error': createNeedForm.title.$invalid && submitted }">
            <label for="form-need-title">Titel</label>
            <input required type="text" class="form-control" name="title" id="form-need-title" data-ng-model="createNeed.title" placeholder="Bijvoorbeeld: Met spoed is een tweepersoonsbed nodig.">
            <p class="help-block" data-ng-show="createNeedForm.title.$invalid && submitted">Vul een duidelijk hulpvraag in.</p>
         </div>
         <div class="form-group">
            <label for="form-need-description">Beschrijving</label>
            <textarea class="form-control" id="form-need-description" data-ng-model="createNeed.description" placeholder="Bijvoorbeeld: Het liefst een bed wat te demonteren is. Eventueel met matras."></textarea>
         </div>
         <div class="form-group">
            <div class="btn-group">
               <label class="btn btn-default" ng-model="createNeed.type" btn-radio="'Goederen'" uncheckable>Goederen</label>
               <label class="btn btn-default" ng-model="createNeed.type" btn-radio="'Diensten'" uncheckable>Diensten</label>
            </div>
         </div>
         <div class="form-group" data-ng-class="{ 'has-error': createNeedForm.category.$invalid && submitted }">
            <label for="form-need-category">Categorie</label>
            <select required data-ng-model="createNeed.category" name="category" data-ng-options="category.name as category.name group by category.type for category in categories | filter: createNeed.type" class="form-control" id="form-need-category">
               <option value="">Kies een passende categorie</option>
            </select>
            <p class="help-block" data-ng-show="createNeedForm.category.$invalid && submitted">Selecteer een passende categorie.</p>
         </div>
         <div class="form-group">
            <label for="form-need-location">Locatie</label>
            <input id="form-need-location" class="form-control" name="location" type="text" placeholder="Locatie van de hulpvraag" data-ng-model="createNeed.location.formatted_address" />
         </div>
         <div class="form-group">
            <button type="button" data-ng-disabled="savingNeed" data-ng-click="saveNeed()" class="btn btn-primary">
               <i data-ng-if="savingNeed" class="fa fa-circle-o-notch fa-spin"></i> {{ savingNeed && "Hulpvraag opslaan" || "Bewaar hulpvraag" }}</button>
         </div>
      </form>
   </div>
</div>
