<div class="row">
   <div class="col-sm-3">
      <div class="form-group">
         <label for="form-filter">Filter op tekst</label>
         <input type="text" class="form-control" id="form-filter" data-ng-model="byText" />
      </div>
   </div>
   <div class="col-sm-3">
      <div class="form-group">
         <label for="form-category">Categorie</label>
         <select data-ng-model="byCategory" data-ng-options="category.name as category.name group by category.type for category in categories | filter: bySuppliesServices" class="form-control" id="form-category">
            <option value="">Filter op categorie</option>
         </select>
      </div>
   </div>
   <div class="col-sm-3 space-buffer">
      <p><strong>Filter op</strong></p>
      <div class="btn-group">
         <label class="btn btn-default" ng-model="bySuppliesServices" btn-radio="'Diensten'" uncheckable>Diensten</label>
         <label class="btn btn-default" ng-model="bySuppliesServices" btn-radio="'Goederen'" uncheckable>Goederen</label>
      </div>
   </div>
</div>

<section>
   <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading"><h4>Hulpvragen <span class="badge">{{filteredNeeds.length}}</span></h4></div>

            <div class="list-group overflow-column">
               <a data-ng-click="selectNeed(need, $index)" data-ng-class="{active: $index == pickedNeed}" class="list-group-item" data-ng-repeat="need in filteredNeeds = (needs | filter:byCategory | filter:bySuppliesServices)">
                  <h4 class="list-group-item-heading">
                     <i class="fa fa-archive" data-ng-show="need.type == 'Goederen'"></i>
                     <i class="fa fa-user-md" data-ng-show="need.type == 'Diensten'"></i>
                     {{need.title}}</h4>
                     <p class="list-group-item-text">{{need.description}}</p>
                     <p class="list-group-item-text">
                        <span class="label label-default">{{need.category}}</span>
                        <button type="button" class="btn btn-link btn-sm" data-ng-click="showEditNeedModal(need);$event.stopPropagation()">
                           <span class="glyphicon glyphicon-edit"></span> Pas aan
                        </button>
                        <button type="button" class="btn btn-link btn-sm" data-ng-click="deleteNeed($index, need);$event.stopPropagation()">
                           <span class="glyphicon glyphicon-remove"></span> Verwijder
                        </button>
                     </p>
                  </a>
                  <p class="help-block text-center" data-ng-hide="filteredNeeds.length"><strong>Geen hulpvragen gevonden.</strong></p>
               </div>
            </div>
         </div>

         <div class="col-md-6">
            <div class="panel panel-default">
               <div class="panel-heading"><h4>Hulpaanbod <span class="badge">{{filteredOffers.length}}</span></h4></div>
               <div class="list-group overflow-column">
                  <a data-ng-click="selectOffer(offer, $index)" data-ng-class="{'active': $index == pickedOffer && !offer.matched, 'disabled': offer.matched }" class="list-group-item" data-ng-repeat="offer in filteredOffers = (offers | filter:byText | filter:byCategory | filter:bySuggestions.category | filter:bySuggestions.type | filter:bySuppliesServices)">
                     <h4 class="list-group-item-heading">
                        <i class="fa fa-archive" data-ng-show="offer.type == 'Goederen'"></i>
                        <i class="fa fa-user-md" data-ng-show="offer.type == 'Diensten'"></i>
                        {{offer.title}}
                     </h4>
                     <p class="list-group-item-text">{{offer.description}}</p>
                     <p class="list-group-item-text">
                        <span class="label label-default">{{offer.category}}</span>
                        <button type="button" class="btn btn-link btn-sm" data-ng-click="showDetailOfferModal(offer);$event.stopPropagation()">
                           <span class="glyphicon glyphicon-cog"></span> Bekijk details
                        </button>
                        <button type="button" class="btn btn-link btn-sm" data-ng-hide="offer.matched" data-ng-click="deleteOffer($index, offer);$event.stopPropagation()">
                           <span class="glyphicon glyphicon-remove"></span> Verwijder
                        </button>
                        <span class="glyphicon glyphicon-link glyphicon-lg pull-right" data-ng-show="offer.matched"></span>
                     </p>
                     <p class="list-group-item-text">
                        <button type="submit" class="btn btn-primary btn-sm"
                        data-ng-show="$index == pickedOffer && !offer.matched && match.need.title && match.offer.title" data-ng-click="confirmMatch(offer)">
                        <span class="glyphicon glyphicon-link"></span>
                        Koppel hulpvraag en aanbod
                        </button>
                     </p>
                  </a>
                  <p class="help-block text-center" data-ng-hide="filteredOffers.length"><strong>Geen hulpaanbod gevonden.</strong></p>
               </div>
            </div>
         </div>
      </div>
</section>

<!-- // Todo: put this in a file. For now.. inline -->
<script type="text/ng-template" id="detailOfferModalContent.html">
   <div class="modal-header">
       <h3 class="modal-title">
       <i class="fa fa-archive" data-ng-show="detailItem.type == 'Goederen'"></i>
       <i class="fa fa-user-md" data-ng-show="detailItem.type == 'Diensten'"></i>
       {{detailItem.title}}</h3>
       <p>{{detailItem.description}}</p>
       <div class="row">
       <div class="col-sm-6">
          <dl class="dl">
               <dt>Categorie</dt>
               <dd><span class="label label-default">{{detailItem.category}}</span></dd>
              <dt data-ng-show="detailItem.matched">Gekoppeld</dt>
              <dd data-ng-show="detailItem.matched"><span class="glyphicon glyphicon-link"></span></dd>
              <dt>Vervoer</dt>
              <dd>{{detailItem.deliver && 'Wordt bezorgd.' || 'Heeft hulp nodig met het vervoer.'}}</dd>
              <dt>Aangemaakt</dt>
              <dd>{{detailItem.created | date: "dd-MM-yyyy 'om' hh:mm"}}</dd>
            </dl>
         </div>
         <div class="col-sm-6">
            <img class="img-responsive img-rounded image-preview" data-ng-show="detailItem.image" data-ng-src="./uploads/{{detailItem.image.name}}" alt="" />
         </div>
      </div>
   </div>
   <div class="modal-body">
      <h4 class="modal-title">Hulpaanbieder</h4>
      <img class="img-thumbnail fb-profilepic" data-ng-src="{{detailItem.fb.picture}}" alt="" />
      {{detailItem.fb.name}}
      <p><a href="{{detailItem.fb.link}}">Contacteer hulpaanbieder</a></p>
   </div>
   <div class="modal-footer">
       <button class="btn btn-default" ng-click="ok()">OK</button>
   </div>
</script>

<script type="text/ng-template" id="editNeedModalContent.html">
      <div class="modal-header">
         <h3 class="modal-title">{{editNeed.title || '[Hulpvraag]'}}</h3>
      </div>
      <div class="modal-body">
      <form role="form" name="$parent.editNeedForm" novalidate data-ng-submit="ok()">
        <div class="form-group" data-ng-class="{ 'has-error': editNeedForm.title.$invalid && submitted }">
         <label for="form-need-title">Titel</label>
         <input required type="text" class="form-control" name="title" id="form-need-title" data-ng-model="editNeed.title" placeholder="Met spoed is een tweepersoonsbed nodig.">
         <p class="help-block" data-ng-show="editNeedForm.title.$invalid && submitted">Vul een duidelijk hulpvraag in.</p>
        </div>
        <div class="form-group">
         <label for="form-need-description">Beschrijving</label>
         <textarea class="form-control" id="form-need-description" data-ng-model="editNeed.description" placeholder="Het liefst een bed wat te demonteren is. Eventueel met matras."></textarea>
        </div>
        <div class="form-group">
           <div class="btn-group">
             <label class="btn btn-default" ng-model="editNeed.type" btn-radio="'Goederen'" uncheckable>Goederen</label>
             <label class="btn btn-default" ng-model="editNeed.type" btn-radio="'Diensten'" uncheckable>Diensten</label>
           </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': editNeedForm.category.$invalid && submitted }">
           <label for="form-need-category">Categorie</label>
           <select required data-ng-model="editNeed.category" name="category" data-ng-options="category.name as category.name group by category.type for category in categories" class="form-control" id="form-need-category">
              <option value="">Kies een passende categorie</option>
           </select>
           <p class="help-block" data-ng-show="editNeedForm.category.$invalid && submitted">Selecteer een passende categorie.</p>
        </div>
        <div class="form-group" data-ng-show="editNeed.location.formatted_address">
           <label for="form-need-category">Locatie</label>
           <p>{{editNeed.location.formatted_address}}</p>
        </div>
        <div class="form-group"><strong>Aangeboden op</strong> <p>{{editNeed.created | date:'MM/dd/yy HH:mm'}}</p></div>
      </form>

      </div>
      <div class="modal-footer">
         <button class="btn btn-primary" ng-click="saveChanges()">OK</button>
      </div>
   </div>
</script>
